<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.doctor.dao.ArticleMapper">


    <insert id="insertArticle" parameterType="cn.tju.doctor.daomain.ArticleBean">
        INSERT INTO article (uuid, title, source, writeTime, creatTime, sourceURL, fullContent, picURL, videoURL, label, part, ifVideo, likes, views, download, berecord)
        VALUES  (#{uuid}, #{title}, #{source}, #{writeTime}, #{creatTime}, #{sourceURL}, #{fullContent}, #{picURL}, #{videoURL}, #{label}, #{part}, #{ifVideo}, #{likes}, #{views}, #{download}, #{berecord})
    </insert>

    <select id="selectSumByDate" parameterType="String">
        SELECT * FROM base WHERE date = #{date} ;
    </select>

</mapper>