<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.doctor.dao.EachFundingMapper">


    <insert id="insertEachFunding" parameterType="cn.tju.doctor.daomain.Eachfunding">
        INSERT INTO eachfunding (number, creatuser, uuid, test, ifWork, mount, applymount, testtime, percent)
        VALUES  (#{number}, #{creatuser}, #{uuid}, #{test}, #{ifWork}, #{mount}, #{applymount}, #{testtime}, #{percent})
    </insert>

    <select id="selectEachFundingByUUIDtest" resultType="cn.tju.doctor.daomain.Eachfunding" parameterType="String">
        SELECT * FROM eachfunding WHERE uuid = #{uuid} AND test != 2;
    </select>

    <select id="selectEachFundingByNumber" resultType="cn.tju.doctor.daomain.Eachfunding" parameterType="String">
        SELECT * FROM eachfunding WHERE number = #{number} ;
    </select>
    <select id="selectEachFundingByUUID" resultType="cn.tju.doctor.daomain.Eachfunding" parameterType="String">
        SELECT * FROM eachfunding WHERE uuid = #{uuid} ;
    </select>

    <select id="selectEachFundingByTest" resultType="cn.tju.doctor.daomain.Eachfunding">
        SELECT * FROM eachfunding WHERE test = 0;
    </select>

    <select id="count" resultType="cn.tju.doctor.daomain.Eachfunding">
        SELECT * FROM eachfunding WHERE uuid = #{uuid} AND test = #{test};
    </select>

    <update id="updateEachFunding" parameterType="cn.tju.doctor.daomain.Eachfunding">
        UPDATE eachfunding SET test = #{eachfunding.test} , ifWork = #{eachfunding.ifWork} WHERE number = #{eachfunding.number};
    </update>

</mapper>