<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.doctor.dao.ProjectDockMapper">

    <insert id="insertProjectDock" parameterType="cn.tju.doctor.daomain.ProjectBeanDock">
        INSERT INTO projectDock (uuid, projectID, mount, projectManager, company, process, dataURL, companyAccount, moneyManager, beginTime, endtime, introduce, accounting, name, createuser)
        VALUES  (#{uuid}, #{projectID}, #{mount}, #{projectManager}, #{company}, #{process}, #{dataURL}, #{companyAccount}, #{moneyManager}, #{beginTime}, #{endtime}, #{introduce}, #{accounting}, #{name}, #{createuser})
    </insert>

    <select id="getProjectDockByProjectID" resultType="cn.tju.doctor.daomain.ProjectBeanDock" parameterType="String">
        SELECT * FROM projectDock WHERE projectID = #{projectID};
    </select>

<!--查询公司用户、管理员的项目列表，只有最新期数-->
    <select id="getALLPJList" resultType="cn.tju.doctor.daomain.ProjectBeanDock" parameterType="String">
        SELECT * FROM projectDock WHERE
        <if test='type == "2b"'>createuser = #{value}</if>
        <if test='type == "5b"'>projectManager = #{value}</if>
    </select>

    <select id="getByCompanyAccount" resultType="cn.tju.doctor.daomain.ProjectBeanDock" parameterType="String">
        SELECT * FROM projectDock WHERE companyAccount = #{companyAccount};
    </select>

    <insert id="modifyProjectDock" parameterType="cn.tju.doctor.daomain.ProjectBeanDock">
        INSERT INTO projectDock (uuid, projectID, mount, projectManager, company, process, dataURL, companyAccount, moneyManager, beginTime, endtime, introduce, accounting, ifWork)
        VALUES  (#{uuid}, #{projectID}, #{mount}, #{projectManager}, #{company}, #{process}, #{dataURL}, #{companyAccount}, #{moneyManager}, #{beginTime}, #{endtime}, #{introduce}, #{accounting}, #{ifWork})
    </insert>

    <update id="updateByProjectID" parameterType="cn.tju.doctor.daomain.ProjectBeanDock">
        UPDATE projectdock
        <trim prefix="set" suffixOverrides=",">
            <if test="uuid != null">uuid=#{uuid},</if>
            <if test="mount != 0.0">mount=#{mount},</if>
            <if test="projectManager != null">projectManager=#{projectManager},</if>
            <if test="company != null">company=#{company},</if>
            <if test="process != null">process=#{process},</if>
            <if test="dataURL != null">dataURL=#{dataURL},</if>
            <if test="companyAccount != null">companyAccount=#{companyAccount},</if>
            <if test="moneyManager != null">moneyManager=#{moneyManager},</if>
            <if test="beginTime != null">beginTime=#{beginTime},</if>
            <if test="endtime != null">endtime=#{endtime},</if>
            <if test="introduce != null">introduce=#{introduce},</if>
            <if test="accounting != null">accounting=#{accounting},</if>
            <if test="ifWork != null">ifWork=#{ifWork},</if>
        </trim>
        WHERE projectID=#{projectID};
    </update>

    <update id="updateByProjectID2" parameterType="String">
        UPDATE projectDock
        <set>
            <if test="mount != null">mount=#{mount},</if>
            <if test="process != null">process=#{process},</if>
        </set>
        WHERE projectID=#{projectID}
    </update>

    <update id="updateProjectDock" parameterType="cn.tju.doctor.daomain.ProjectState">
        UPDATE projectDock SET ifWork="1", endtime=NOW() WHERE ${state1} = #{stateValue1} AND ${state2} = #{stateValue2};
    </update>

    <update id="updateProjectDock2" parameterType="cn.tju.doctor.daomain.ProjectState">
        UPDATE projectDock SET label=1 WHERE ${state1} = #{stateValue1};
    </update>
</mapper>