<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.doctor.dao.ProjectFeaMapper" >

    <select id="getByNumber" resultType="cn.tju.doctor.daomain.ProjectFea" parameterType="String">
        SELECT * FROM projectFunding WHERE number = #{number} ;
    </select>

</mapper>